# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
*.env/
.env/
env.py

# IDE-specific files
.vscode/
.idea/

# Project-specific files
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log

# OS-specific files
.DS_Store
Thumbs.db

static/
*.drawio
*.drawio.bkp
